.breakfast_items{
    height: 630px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 2px 2px 5px grey;
    flex-wrap: wrap;
}
.breakfast_items .card{
  height: 250px;
  width: 120px;
  border: solid black 0px;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 8px;
}
.breakfast_items .card .item_img img{
    width: 120px;
    height: 170px;
    border-radius: 10px;
}
.breakfast_items .card .item_img{
    background-size: cover;
    height: 140px;
}
.breakfast_items .card .item_details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .925rem;
    padding-top: 35px;
    margin-top: 10px;
}

button{
    color: whitesmoke;
    background-color:red;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.breakfast_items .card .btn{
  position: relative;
  left: 18%;
  height: 50px;
  border: none;
  padding-left: 6px;
}
button:hover{
    padding: 5px;
    cursor: pointer;
    color: azure;
    background: black;
}

.breakfast_items .card:hover{
    box-shadow: 3px 3px 3px 3px grey;
}

